body {
    background: url("image_wither.png");
    background-repeat: false;
    background-attachment:fixed;
    background-size: 100% 
    
}
body {
    font-family: Arial, sans-serif;
    
    color: #333;
    font-size: 36 px
    opacity:1
}
