body {
    background: url("Ferme_Minecraft.jpg");
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size : cover ;
    font-family: Arial, sans-serif;
    color: black;
    font-size: 36 px;
    opacity:100%;
}
